body{
  font-family: 'Montserrat';  
  text-align: center;
  background-color: #ffffD2;
}

h1,h2,h3,h4,h5,h6 { 
  font-family: 'Montserrat';
  font-weight: bold;
}

.big-heading{
  font-size: 3.5rem;  
  line-height: 1.5; 
  text-align: center; 
  padding-top: 15%;
}

.title-image{
  width: 90%;
  border-radius: 100%;
  opacity: 80%;
}

.navtext:hover{
  font-weight: bold;
  color: #aa96da;
}

.input-group-text{
  background-color: #b6a1e9;
}

.form-control,.form-select{
  background-color: #ece9f3;
  
}

.sign-button{
  margin: 20px 10px 70px 10px;
  background-color: #aa96da;
  border: none;

}

.sign-button:hover{
  margin: 20px 10px 70px 10px;
  background-color: #ece9f3;
  border: #aa96da;
  color:#aa96da

}

th {
  text-align: left;
  overflow: hidden;
  overflow-wrap: normal;
  border-bottom: 1px solid #b3b3b3;
}

td {
  text-align: left;
  font-size: 0.85em;
  border-right: 1px solid #b3b3b3;
}

tr {
  display: none;
}

tr.header {
  display: table-row;
  cursor: pointer;
}

tr.summary > td {
  font-size: 0.95em;
  font-weight: 700;
  border: none;
}

.amount,
td.sum {
  text-align: right;
}

tr:last-child {
  color: #aa96da;
  display: table-row !important;
}

.dropdown-toggle{
  border: none;
}
#footer{
  font-size: 0.8rem;
  color: #363636;
}

